-r requirements.txt
titanoboa @ git+https://github.com/vyperlang/titanoboa@44c14406eda4fefc0dad99a287dff7fae2172a18
black
boto3
click
hypothesis
ipython
mypy
pytest
pytest-xdist
python-lsp-server[flake8]
rope
coverage
